[user]
	name = None
	email = None
	username = None
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	quotepath = false
[credential]
	helper = cache --timeout 1800
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = green
	changed = yellow
	untracked = red
[color "branch"]
	current = green
	local = yellow
	remote = red
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[merge]
	tool = nvimdiff2
[diff]
	tool = nvimdiff
[alias]
	a = add
	rm = rm -f
	rename = mv
	restore-all = checkout .
	unstage = restore --staged
	unstage-all = reset HEAD
	co = checkout
	sw = switch
	s = status
	ss = status --short
	who = shortlog -s --
	visual = !gitk
	aliases = !git config --get-regexp 'alias.*' | sed 's/[ ]/ = /' | sort
	show-history-file = log --stat --oneline --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%as%Creset %s : %C(bold blue)<%an> <%ae>%Creset%n%n%b' --
	where-change = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%as%Creset %Cgreen[%cr]%Creset %s : %C(bold blue)<%an> <%ae>%Creset%n' -S
	delete-commit = reset --hard HEAD^
	cm = commit
	cma = commit --amend
	cmd = commit -v
	cmda = commit -v --amend
	l = log --graph --oneline --all
	ls = log --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s : %Cgreen[%cr] %C(yellow)%as%Creset %C(bold blue)<%an>%Creset'
	br = branch -v
	create-branch = switch -c
	rename-branch = branch -m
	delete-branch = branch -D
	move-branch = branch -f
	totldf = diff HEAD
	dfstage = diff --staged
