[user]
	name = Ivan Covach
	email = eeiprex@gmail.com
	username = Qu1nel
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	quotepath = false
[credential]
	helper = cache --timeout 1800
[commit]
	template = /home/un/.config/git/commit_template_message.txt
[merge]
	log = true
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = green
	changed = yellow
	untracked = red
[color "branch"]
	current = green
	local = yellow
	remote = red
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	a = add
	rm = rm -f
	rename = mv
	restore-all = checkout .
	unstage = restore --staged
	unstage-all = reset HEAD
	co = checkout
	sw = switch
	s = status
	ss = status --short
	who = shortlog -s --
	whoami = config user.email
	visual = "!gitk"
	aliases = "!git config --get-regexp 'alias.*' | sed 's/[ ]/ = /' | sort"
	show-history-file = log --stat --oneline --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%as%Creset %s : %C(bold blue)<%an> <%ae>%Creset%n%n%b' --
	where-change = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%as%Creset %Cgreen[%cr]%Creset %s : %C(bold blue)<%an> <%ae>%Creset%n' --date=short --decorate -S
	delete-commit = reset --hard HEAD^
	findcm = "!find_commit_by_msg() { git log --pretty=format:'%Cred%h%Creset - %C(yellow)%as%Creset %Cgreen[%cr]%Creset %s : %C(bold blue)<%an> <%ae>%Creset%n' --decorate --grep=$1; }; find_commit_by_msg"
	irebase = "!irebase() { git rebase -i HEAD~$(($1 + 1)); }; irebase"
	cm = commit
	cma = commit --amend
	cmd = commit -v
	cmda = commit -v --amend
	shows = "!f() { git show \"$1\" | bat -l rs; }; f"
	l = log --graph --oneline --all
	ls = log --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s : %Cgreen[%cr] %C(yellow)%as%Creset %C(bold blue)<%an>%Creset'
	branch = branch -v
	branches = branch --all
	remotes = remote -v
	create-branch = switch -c
	rename-branch = branch -m
	delete-branch = branch -D
	move-branch = branch -f
	dftotal = diff HEAD
	dfstage = diff --staged
	diffs = "!git diff --name-only --relative --diff-filter=d | xargs bat --diff"
