bash/bash_prompts/** linguist-vendored

zsh/.p10k.zsh linguist-vendored

makefiles/c/big-project/include/* linguist-vendored
makefiles/c/big-project/src/* linguist-vendored

makefiles/c/big-project/src/lib/** linguist-vendored

* text=auto eol=l
